body {
    background-color: #F5F8FA;
    font-family: "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
}

body > header {
    width: auto;
    height: 46px;
    text-align: center;
    vertical-align: middle;
}

header .logo {
    display: inline-block;
    background: url("./logo.png") center no-repeat;
    width: 27px;
    height: 47px;
    cursor: pointer;
}

header .logo .virtually-hidden {
    display: none;
}

.global-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.main-box-width {
    max-width: 700px;
    min-width: 320px;
    margin: 0 auto;
}

main.content {
    padding: 10px 14px;
}

.box {
    font-size: 14px;
    border: 1px solid #e1e8ed;
    border-radius: 6px;
    padding: 9px 12px;
    margin: 8px 0;
    box-sizing: border-box;
}

.tweet {
    background-color: #fff;
    min-height: 31px;
}

.tweet .friendlydate {
    font-size: 13px;
}

.tweet .friendlydate:before {
    content: "\00B7";
}

.tweet:hover {
    background-color: #f5f8fa;
}

.tweet a {
    text-decoration: none;
    font-weight: bold;
    color: #292f33;
}

.tweet a:hover {
    text-decoration: underline;
    color: #8899a6;
}

.home-user-tweet {
    background-color: #F6F7F8;
}

.home-user-tweet .editor {
    border: 1px solid #e1e8ed;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: none;
    padding: 8px 10px;
    font-size: 14px;
    word-wrap: break-word;
    outline-style: none;
    resize: none;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
}

.home-user-tweet .tweet-button {
    float: right;
    background-color: #ABB8C2;
    border: 0 none;
    color: #fff;
    text-align: center;
    width: 50px;
    height: 20px;
    outline: none;
    cursor: pointer;
}

.home-user-tweet .tweet-button:hover {
    background-color: #66757f;
}

.home-user-tweet .tweet-button:focus {
    background-color: #66757f;
}

.home-user-tweet .tweet-button:active {
    background-color: #ABB8C2;
    border: 1px solid transparent;
}

.home-user-tweet .tweet-button:disabled {
    background-color: #ccd6dd;
    cursor: default;
}

.home-user-tweet header {
    height: 20px;
    padding-bottom: 9px;
}

.home-user-tweet .username {
    font-weight: bold;
}

#load-new-tweets {
    position: fixed;
    bottom: 10px;
    text-align: center;
    width: 100%;
    color: #fff;
    background-color: #1795da;
    padding: 2px 0;
    cursor: pointer;
}

#load-new-tweets:hover {
    background-color: #3ca7da;
}

#load-new-tweets:active {
    background-color: #0090DA;
}